spring:
  application:
    name: BitBucket

  datasource:
    url: jdbc:postgresql://${DB_HOST:localhost}:5432/filestorage_db
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

server:
  port: 8082
